/* common */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

.extra-bold {
    font-weight: 900;
}

.bold {
    font-weight: 700;
}

.regular {
    font-weight: 400;
}

.light-italic {
    font-weight: 300;
    font-style: italic;
}

.extra {
    font-size: 48px;
}

.big {
    font-size: 36px;
}

.medium {
    font-size: 24px;
}

.small {
    font-size: 18px;
}

.extra-small {
    font-size: 12px;
}

body > * {
    padding: 0 20vw;
    padding-top: 48px;
    padding-bottom: 48px;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header, .hero, footer {
    background-color: #1f2937;
}

.hero .secondary-text, .header .link-text {
    color: #e5e7eb;
}

button {
    padding: 8px 24px;
    border: 0px;
    border-radius: 8px;
    color: white;
}

.hero button, .call-to-action, .call-to-action button {
    background-color: #3882f6;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;

    padding-top: 8px;
}

.links {
    display: flex;
    gap: 18px;

    list-style-type: none;
    margin: 0;
    padding: 0;
}

.links a {
    text-decoration: none;
}

.header .logo {
    color: #f9faf8;
}

/* hero */

.hero {
    display: flex;
    gap: 32px;
}

.hero > * {
    flex: 1;
}

.hero .main-text {
    color: #f9faf8;

    margin: 0;
}

.hero .secondary-text {
    margin: 0;
}

.hero button {
    margin-top: 8px;
}

.hero .placeholder {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #6D747D;
    color: white;
}

/* section 2 */

.information {
    text-align: center;
}

.information .header-text {
    color: #1f2937;

    margin: 0 0 24px 0;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
}

.card {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.information .illustration {
    width: 150px;
    height: 150px;
    border: 1px solid #3882f6;
    border-radius: 8px;
}

.card p {
    margin: 8px 0 0 0;
    max-width: 150px;
}

/* section 3 */

.quote-section {
    background-color: #e5e7eb;

    display: flex;
    flex-direction: column;
}

.quote-section .quote-text {
    color: #1f2937;

    margin: 0;
}

.quote-section .quote-author{
    align-self: flex-end;
}


/* section 4 */

.call-to-action {
    display: flex;
    justify-content: space-around;

    border-radius: 8px;
    padding: 24px 32px;
    color: white;
}

.call-to-action button {
    border: 1px solid white;
}

.call-to-action p {
    margin: 0;
}

/* footer */

footer {
    text-align: center;
    color: white;

    padding-top: 18px;
    padding-bottom: 18px;
}
