/* common */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body > * {
    padding: 0 100px;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header, .hero, footer {
    background-color: #1f2937;
}

.hero .secondary-text, .header .link-text {
    font-size: 18px;
    color: #e5e7eb;
}

.hero button, .call-to-action, .call-to-action button {
    background-color: #3882f6;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 18px;

    list-style-type: none;
    margin: 0;
    padding: 0;
}

.links a {
    text-decoration: none;
}

.header .logo {
    font-size: 24px;
    color: #f9faf8;
}

/* hero */

.hero {
    display: flex;
}

.hero > * {
    flex: 1;
}

.hero .main-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

button {
    padding: 8px 16px;
    border: 0px;
    border-radius: 8px;
    color: white;
}

/* section 2 */

.information .header-text {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.card-container {
    display: flex;
}

/* section 3 */

.quote-section {
    background-color: #e5e7eb;
}

.quote-section .quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

/* section 4 */

.call-to-action {
    display: flex;
}

.call-to-action button {
    border: 1px solid white;
}

/* footer */

footer {
    text-align: center;
}
